@import url('https://fonts.googleapis.com/css2?family=Jost&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181b;
}

nav{
    max-width: 1400px;
    margin: auto;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-foto{
    max-width: 150px;
    padding-top: 30px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.5rem;
    color: white;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 108, 54);
    transition: all 0.5s ease;
}

.link a:hover::after{
    width: 100%;
} 

.contenedor{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.textoColor{
    position: absolute;
    box-shadow: 0 0 1000px 50px #fa4f00
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}