@import url('https://fonts.googleapis.com/css2?family=Jost&family=Ubuntu:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181b;
    height: 16rem;
    background-image: radial-gradient(circle, rgba(203, 213, 225, 0.205) 2px, #ffffff00 2px);
    background-size: 2.5rem 2.5rem;
    background-position: center center;
}

#arribaBtn {
    display: none; /* Oculta el botón por defecto */
    position: fixed;
    bottom: 20px;
    right: 22px;
    z-index: 100;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: white;
    transition: 0.5s;
    background-color: rgb(255, 115, 0);
    border-radius: 10px;
    transition: opacity 1s ease;
}

#arribaBtn:hover{
    background-color: orange;
}

/* Estilos del navbar */
nav {
    padding: 30px 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin-right: 100px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(175, 175, 175);
    transition: 0.5s;
    font-size: 15px;
}

.nav-links a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline rgb(255, 68, 0) ;
}
/*hasta aqui estilos de navbar*/

.contenedor{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.sombra{
    position: absolute;
    box-shadow: 0 0 500px 60px #fa4f00;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
}

header .contenido h1{
    color:white;
    font-size: 65px;
    font-weight: 800;
    line-height: 3rem; /*hace un espacio entre la parte de arriba */
    -webkit-animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) both
}
@-webkit-keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.contenido .designer{
    padding-bottom: 20px;
}

header .contenido h1 span{
    background: linear-gradient(coral, red, rgb(255, 153, 0), rgb(255, 166, 0), rgb(255, 174, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 2000px 2000px;
    animation: rgb 15s infinite linear;
}
@keyframes rgb{
    0%{
        background-position:0% 0%;
    }

    25%{
        background-position:0% 100%;
    }

    50%{
        background-position:100% 100%;
    }

    75%{
        background-position:100% 0%;
    }

    100%{
        background-position:0% 0%;
    }
}

.contenido p{
    color: white;
    padding-right: 150px;
    text-align: justify;
    line-height: 1rem;
}

.contenido p a{
    text-decoration: none;
    color: rgb(255, 115, 0);
    transition: 0.5s;
}

.contenido p a:hover{
    color: orange;
}

.image img{
    width: 85%;
    display: flex;
    position: static;
    padding-left: 25px;
}

#section-2{
    padding-bottom: 100px;
}

#section-2 h2{
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 50px;
    font-weight: 800;
}

.box-sobremi p{
    color: white;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 20px;
}

.box-sobremi{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.box-sobremi a{
    text-decoration: none;
    color: rgb(255, 115, 0);
    transition: 0.5s;
}

.box-sobremi a:hover{
    color: orange;
}

.botonArriba i{
    font-size: 30px;
    translate: 0 2px; 
}

#section-3 h2{
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
    font-weight: 800;
}

footer p{
    color: white;
    text-align: center;
    padding: 0;
    margin: 0; 
}

/* Estilo para la imagen en el footer */
footer img {
    width: 100%; /* Ancho del 100% para llenar el footer */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Evitar espacios en blanco alrededor de la imagen */
    padding-top: 120px;
}

#section-3 .masfotos{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

#section-3 p{
    color: white;
    font-size: 20px;
    text-align: center;
    translate: 0 -150px;
}

#section-3 button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid orangered;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: orangered;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  #section-3 button span {
    margin: 10px;
  }
  
  #section-3 button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  #section-3 button:hover {
    color: #fff;
    border: 1px solid rgb(255,0,0);
  }
  
  #section-3 button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
  }

#section-3 .mover-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    translate: 0 -220px;
}

#letras-footer{
    transform: translate(0, -30px); /* Centra el texto en el contenedor */
    color: rgb(0, 0, 0); 
    font-size: 12px; 
    text-align: center;
    font-weight: 600;
}

#letras-footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contacto h2{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    transform: translate(0, 10px)
}

.icons a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: 0.3s;
    padding: 10px;
}

.icons a:hover{
    color: rgb(207, 207, 207);
}

.icons{
    display: flex;
    justify-content: center;
    transform: translate(0, 320px)
}